/* nav */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
}

.navbar_rightitem {
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
}

.navbar_button {
  background-color: #0184fb;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px 24px 16px;
  margin-left: 14px;
  text-align: center;
}

/* hero */

.herobody {
  background: #f8faff;
}
.hero {
  padding: 116px 100px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  max-width: 1366px;
  margin: 0 auto;
  /* background: linear-gradient(95.67deg,#75cffa .29%,#ccffea); */
}

.heroleft h1 {
  color: #323b4b;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin: 16px 0px;
  width: 100%;
  max-width: 480px;
}

.heroleft h1 span {
  color: #0184fb;
}

.heroleft p {
  font-size: 14px;
  line-height: 27px;
  color: #4e5d78;
  margin-bottom: 40px;
  margin-top: 24px;
}

.herobtn {
  background-color: #0184fb;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  padding: 14px 24px 16px;
  text-align: center;
  cursor: pointer;
  border: none;
}

.heroright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroright img {
  width: 100%;
}

/* join */
.join {
  padding: 140px 100px;
  background-color: #fafbfc;
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.joincnt {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.joincnt p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.095em;
  color: #37474f;
  margin-bottom: 40px;
}

.joincntlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.navmenu {
  display: none;
}

.navmenu img {
  cursor: pointer;
}

/* section one */
.sectionone {
  padding: 96px 0px 0px;
  background-color: #fafbfc;
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sectionsyn {
  margin-top: 70px !important;
  padding: 50px 0px 0px;
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.tstcnt {
  background-color: #f8faff;
}

.testimonybody {
  padding: 50px 0px 0px;
  margin-top: 70px !important;
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sectionone_cnt,
.sectionsyn_cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionsyn_cnt {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.sectionone_cnt h2,
.sectionsyn_cnt h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 51px;
  margin: 0px 0px 16px 0px;
  text-align: center;
  color: #323b4b;
}
.sectionone_cnt p,
.sectionsyn_cnt p {
  font-size: 14px;
  line-height: 27px;
  color: #4e5d78;
  margin-bottom: 40px;
  margin-top: 24px;
  text-align: center;
  max-width: 842px;
}

.sectionone_cnt img,
.sectionsyn_cnt img {
  width: 100%;
}

/* sectiontwo */
.sectionbody {
  padding: 140px 100px;
}
.sectioncus {
  padding: 140px 100px;
}

.section__left {
  max-width: 1166px;
  margin: 0 auto;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
}

.section__left img,
.section__right img {
  width: 100%;
}

.sectioncus img {
  width: 100%;
}

.section__left-body,
.section__right-body,
.sectioncusrightbody,
.tstrright {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
}

.section__left-tag {
  padding: 12px 24px;
  border-radius: 999px;
  justify-self: start;
}

.section__right-tag,
.tsttag {
  padding: 12px 24px;
  border-radius: 999px;
  justify-self: start;
}

.tsttag {
  background-color: #0184fb;
}

.testimonybody {
}
.section__left-tag h6,
.section__right-tag h6,
.tsttag h6 {
  color: #fff;
  font-weight: 600;
  line-height: 19.2px;
  font-size: 14px;
}

.section__left-body h2,
.section__right-body h2,
.sectioncusrightbody h2,
.tstrright h2 {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
}

.section__left-body p,
.section__right-body p,
.sectioncusrightbody p {
  font-size: 14px;
  line-height: 27px;
  color: #4e5d78;
  letter-spacing: 0.2592px;
}

/* section__right */
.section__right {
  max-width: 1166px;
  margin: 0 auto;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
}
.sectioncusright {
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
  align-items: center;
}

.testimonyright {
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
}

/* testimonies */
.tstrleft {
  display: flex;
  align-items: center;
  gap: 72px;
}

.tstrleftright {
  display: grid;
  gap: 68px;
}

.tstrleftright img {
  cursor: pointer;
}

.tstrleftleft {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.testimoni1 {
  background: #ffffff;
  box-shadow: 2px 100px 80px rgba(0, 0, 0, 0.04),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  padding: 20px 16px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.testimoni2 {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 1;
  padding: 20px 16px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 50px;
}

.testimoniword {
  font-size: 14px;
  line-height: 20px;
  color: #4e5d78;
  letter-spacing: 0.2592px;
}

.testimoni1 h6,
.testimoni2 h6 {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2592px;
}

.testimonilocation {
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.2592px;
}

@media screen and (max-width: 1166px) {
  .section__right {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 900px) {
  /* nav */
  .navbar_rightitem {
    display: none;
  }

  .navmenu {
    display: block;
  }

  /* hero */
  .hero,
  .join {
    padding: 116px 50px;
  }

  .sectionbody {
    padding: 100px 50px 0 50px;
  }

  .sectioncus {
    padding: 100px 50px 0 50px;
  }

  .testimonybody {
    padding: 100px 50px 0 50px;
  }

  .sectionone,
  .sectionsyn {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section__right {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 500px) {
  /* nav */
  .navlogo img {
    width: 100%;
    height: 25px;
  }
  .navmenu {
    display: block;
  }
  .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(225 236 255 / 50%);
    height: 70px;
  }
  .navbar_rightitem {
    display: none;
  }

  /* hero */
  .hero {
    padding: 116px 16px;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .section__left,
  .testimonyright {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }

  .sectioncusright {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }

  .section__right {
    padding: 20px 20px;
  }

  .herobtn {
    height: 45px;
  }
  .heroleft h1 {
    width: 100%;
    font-size: 36px;
    line-height: 44px;
  }
  .join {
    padding: 116px 16px;
  }

  /* section two */
  .sectionbody {
    padding: 100px 50px 0 50px;
  }

  .testimonybody {
    padding: 50px 50px 0 50px;
  }

  .sectionone,
  .sectionsyn {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section__left-body h2,
  .section__right-body h2,
  .sectioncusrightbody h2,
  .tstrright h2 {
    color: #323b4b;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  .section__left-body p,
  .section__right-body p,
  .sectioncusrightbody p {
    color: #4e5d78;
    font-size: 14px;
    letter-spacing: 0.2268px;
    line-height: 24px;
  }

  .section__left-tag h6,
  .section__right-tag h6,
  .tsttag h6 {
    color: #fff;
    font-weight: 600;
    line-height: 19.2px;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #fff;
    height: 70px;
  }
  .sectionbody {
    padding: 100px 10px 0px 10px;
  }

  .sectioncus {
    padding: 100px 10px 0px 10px;
  }

  .testimonybody {
    padding: 100px 10px 0px 10px;
  }

  .sectioncusright {
    grid-template-columns: 1fr;
    padding: 20px 10px;
  }

  .sectionone,
  .sectionsyn,
  .testimonyright {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section__left-body h2,
  .section__right-body h2,
  .sectioncusrightbody h2,
  .testimonyright h2 {
    color: #323b4b;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  .tstrleft {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .tstrleft {
    display: grid;
    position: relative;
  }

  .tstrleftleft {
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
  }

  .testimoni1 {
    width: 270px;
  }

  .testimoni2 {
    width: 270px;
  }

  .tstrleftright {
    position: absolute;
    right: -10px;
    z-index: 4;
    top: 20%;
  }

  .nexticon, .previousicon {
    
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(225 236 255 / 50%);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 320px) {
  .testimoni1 {
    width: 250px;
  }

  .testimoni2 {
    width: 230px;
  }
}
