/* nav */
.navbar,
.navbar-white {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  z-index: 9;
}

.navbar-white {
  background-color: #fff;
  box-shadow: 0 1px 5px rgb(225 236 255 / 50%);
}

.navbar_left {
  position: relative;
}

.navbar_rightitem {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  text-decoration: none;
  color: #000000;
}


.navbar_button {
  background-color: #0184fb;
  box-shadow: 0px 20px 25px rgba(1, 132, 251, 0.05);
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  padding: 14px 24px 16px;
  margin-left: 14px;
  text-align: center;
}

/* hero */

.herobody {
  background: rgb(248, 250, 255 0.1);
  position: relative;
  overflow: hidden;

}

.hero {
  padding: 116px 100px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  max-width: 1366px;
  margin: 0 auto;
  /* background: linear-gradient(95.67deg,#75cffa .29%,#ccffea); */
}

.heroleft h1 {
  color: #002444;
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  margin: 16px 0px;
  width: 100%;
  max-width: 1399px;
  text-align: center;
  padding-bottom: 20px;
}

.heroleft h1 span {
  color: #0184fb;
}

.heroleft p {
  font-size: 14px;
  text-align: center;
  line-height: 27px;
  color: #4e5d78;
  margin-bottom: 40px;
  margin-top: 24px;
}

.herobtn {
  background-color: #0184fb;
  border-radius: 6px;
  font-style: normal;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  padding: 14px 24px 16px 24px;
  width: 185px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0px 20px 25px rgba(1, 132, 251, 0.15);
}

.heroright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroright img {
  width: 100%;
  margin-top: 20px;
  z-index: 0;
}

/* join */
.joinbd {
  background-color: #fafbfc;
}

.join {
  position: relative;
  padding: 17px 100px 100px;
  max-width: 1366px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.joincnt {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.joincnt p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.095em;
  color: #37474f;
  margin-bottom: 40px;
}

.joincntlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 37px;
  margin: 2px 0px 40px 0px;
}

.navmenu {
  display: none;
}

.navmenu img {
  cursor: pointer;
  width: 35px;
}

/* section one */
.sectiononebd {
  /* background-color: #fafbfc; */
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 40px 3px 40px 3px;
}

.sectionone {
  position: relative;
  padding: 96px 0px 0px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}


.sectionsyn {
  margin-top: 70px !important;
  padding: 50px 0px 0px;
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.tstcnt {
  background-color: #f8faff;
}

.testimonybody {
  padding: 50px 0px 0px;
  margin-top: 70px !important;
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.sectionone_cnt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sectionone_cnt h1 {
  font-size: 32px;
  text-align: left;
  max-width: 420px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0em;
  color: #002444;
}

.sectionsyn_cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionsyn_cnt {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.sectionone_cnt h2,
.sectionsyn_cnt h2,
.footertitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 51px;
  margin: 0px 0px 16px 0px;
  text-align: left;
  color: #002444;
}

.sectionsyn_cnt>p>span {
  color: #0184FB;
}

.sectionsynsH2 {
  text-align: center !important;
}

.footertitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 51px;
  margin: 0px 0px 16px 0px;
  text-align: left;
  color: #323b4b;
}

.sectionone_cnt p {
  text-align: left;
  max-width: 390px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  padding: 20px 0px 30px 0px;
  /* or 181% */
  color: #000000;
}

.sectionsyn_cnt p {
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #4e5d78;
  margin-bottom: 40px;
  margin-top: 24px;
  text-align: center;
  max-width: 880px;
}

.sectionone_cnt img,
.sectionsyn_cnt img {
  width: 710px;
  background-attachment: fixed;
  margin-top: 40px;

}

/* sectiontwo */
.sectionbody {
  padding: 140px 100px;
}

.sectioncus {
  padding: 140px 100px;
}

.footerbody {
  padding: 104.7px 100px 500px 105px;
}

.section__left {
  max-width: 1166px;
  margin: 0 auto;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
}

.section__left img,
.section__right img {
  width: 100%;
}

.sectioncus img {
  width: 100%;
}

.section__left-body,
.section__right-body,
.sectioncusrightbody,
.tstrright {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 17px;
}

.section__left-tag {
  padding: 12px 24px;
  border-radius: 999px;
  justify-self: start;
}

.section__right-tag,
.tsttag {
  padding: 12px 24px;
  border-radius: 999px;
  justify-self: start;
}

.tsttag {
  background-color: #0184fb;
}

.section__left-tag h6,
.section__right-tag h6,
.tsttag h6 {
  color: #fff;
  font-weight: 600;
  line-height: 19.2px;
  font-size: 14px;
}

.section__left-body h2,
.section__right-body h2,
.sectioncusrightbody h2,
.tstrright h2 {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
}

.section__left-body p,
.section__right-body p,
.sectioncusrightbody p,
.footerparagraph {
  font-size: 14px;
  line-height: 27px;
  color: #4e5d78;
  letter-spacing: 0.2592px;
}

/* section__right */
.section__right {
  max-width: 1166px;
  margin: 0 auto;
  border-radius: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
}

.sectioncusright {
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
  align-items: center;
}

.footer-top {
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
  padding-bottom: 50px;

  align-items: center;
}

.footer-bottom {
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  padding: 0px 74px;
}

.footer-bottomright {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.testimonyright {
  max-width: 1166px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  padding: 97px 74px;
}

/* testimonies */
.tstrleft {
  display: flex;
  align-items: center;
  gap: 72px;
}

.tstrleftright {
  display: grid;
  gap: 68px;
}

.tstrleftright img {
  cursor: pointer;
}

.tstrleftleft {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.testimoni1 {
  background: #ffffff;
  box-shadow: 2px 100px 80px rgba(0, 0, 0, 0.04),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  padding: 20px 16px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
}

.testimoni2 {
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 1;
  padding: 20px 16px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 50px;
}

.testimoniword {
  font-size: 14px;
  line-height: 20px;
  color: #4e5d78;
  letter-spacing: 0.2592px;
}

.testimoni1 h6,
.testimoni2 h6 {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2592px;
}

.testimonilocation {
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.2592px;
}

.footer-topright {
  display: flex;
  gap: 10px;
}

.footeremailinput {
  width: 100%;
  height: 46px;
  border: 1px solid #9a9fbf15;
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  padding: 12px 16px;
  border-radius: 8px;
  outline: none;
}

.footersubmitbtn {
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 14px;
  padding: 16px 24px;
  color: #fff;
  background-color: #0184fb;
  border-radius: 8px;
  border: none;
}

.fbottom h3 {
  color: #323b4b;

  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.36px;
  line-height: 24.84px;
  margin: 0px 0px 16px;
  text-align: left;
}

.fblitem {
  font-size: 14px;
  line-height: 27px;
  color: #8a94a6;
  font-weight: 500;
  margin: 0px 0px 8px;
  letter-spacing: 0.2592px;
}

.footer-bottomleft>p {
  margin-top: 20px;
  max-width: 220px;
}


@media screen and (max-width: 1166px) {
  .section__right {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 900px) {

  /* nav */
  .navbar_rightitem {
    display: none;
  }

  .footer-bottomright {
    flex-direction: column;
  }

  .navmenu {
    display: block;
  }

  /* hero */
  .hero,
  .join {
    padding: 116px 50px;
  }

  .sectionbody {
    padding: 100px 50px 0 50px;
  }

  .sectioncus {
    padding: 100px 10px 0 10px;
  }

  .footertitle {
    color: #323b4b;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  .testimonybody {
    padding: 100px 50px 0 50px;
  }

  .sectionone,
  .sectionsyn {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section__right {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 500px) {

  /* nav */
  .navlogo img {
    width: 100%;
    height: 25px;
  }

  .navlogo {
    display: flex;
  }

  .navmenu {
    display: block;
  }

  .navbar,
  .navbar-white {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(225 236 255 / 50%);
    height: 70px;
  }

  .navbar_rightitem {
    display: none;
  }

  /* hero */
  .hero {
    padding: 116px 16px;
    grid-template-columns: 1fr;
    gap: 48px;
  }

  .section__left,
  .testimonyright {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }

  .sectioncusright,
  .footer-top {
    grid-template-columns: 1fr;
    padding: 20px 20px;
  }

  .footer-top {
    grid-template-columns: 1fr;
    padding: 20px 20px;
    padding-bottom: 50px;
  }

  .footer-bottom {
    padding: 20px 20px;
    padding-top: 50px;
  }

  .section__right {
    padding: 20px 20px;
  }

  .herobtn {
    height: 45px;
  }

  .heroleft h1 {
    width: 100%;
    font-size: 36px;
    line-height: 44px;
  }

  .join {
    padding: 116px 16px;
  }

  /* section two */
  .sectionbody {
    padding: 100px 50px 0 50px;
  }

  .testimonybody {
    padding: 50px 50px 0 50px;
  }

  .sectionone,
  .sectionsyn {
    padding-left: 30px;
    padding-right: 30px;
  }

  .section__left-body h2,
  .section__right-body h2,
  .sectioncusrightbody h2,
  .tstrright h2 {
    color: #323b4b;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
  }

  .footertitle {
    color: #323b4b;
    font-size: 21.5px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
  }

  .section__left-body p,
  .section__right-body p,
  .sectioncusrightbody p {
    color: #4e5d78;
    font-size: 14px;
    letter-spacing: 0.2268px;
    line-height: 24px;
  }

  .footerparagraph {
    color: #4e5d78;
    font-size: 14px;
    letter-spacing: 0.2268px;
    line-height: 24px;
  }

  .section__left-tag h6,
  .section__right-tag h6,
  .tsttag h6 {
    color: #fff;
    font-weight: 600;
    line-height: 19.2px;
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {

  .navbar,
  .navbar-white {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #fff;
    height: 70px;
  }

  .sectionbody {
    padding: 100px 10px 0px 10px;
  }

  .sectioncus {
    padding: 100px 10px 0px 10px;
  }

  .testimonybody {
    padding: 100px 10px 0px 10px;
  }

  .sectioncusright {
    grid-template-columns: 1fr;
    padding: 20px 10px;
  }

  .footer-top {
    grid-template-columns: 1fr;
    padding: 20px 10px;
  }

  .footer-bottom {
    padding: 20px 10px;
  }

  .sectionone,
  .sectionsyn,
  .testimonyright {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section__left-body h2,
  .section__right-body h2,
  .sectioncusrightbody h2,
  .testimonyright h2 {
    color: #323b4b;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
  }

  .tstrleft {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .tstrleft {
    display: grid;
    position: relative;
  }

  .tstrleftleft {
    grid-template-columns: 1fr;
    justify-content: start;
    align-items: start;
  }

  .testimoni1 {
    width: 270px;
  }

  .testimoni2 {
    width: 270px;
  }

  .tstrleftright {
    position: absolute;
    right: -10px;
    z-index: 4;
    top: 20%;
  }

  .nexticon,
  .previousicon {
    background-color: #fff;
    box-shadow: 0 1px 5px rgb(225 236 255 / 50%);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {


  .heroleft h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .heroleft p {
    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: #4e5d78;
    max-width: 384px;
    padding: 0px 23px 27px 23px;
    margin: auto;
  }

  .heroos {
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 0px 0px;
  }

  .heroright img {
    padding: 0px 7px 0px 7px;
  }


  .sectionone_cnt h2,
  .sectionsyn_cnt h2,
  .footertitle {
    font-size: 24px;
    max-width: 393px;
    font-weight: 600;
    line-height: 43px;
    margin: 0px 0px 16px 0px;
    text-align: left;
    color: #002444;
  }

  .sectionsyn {
    margin-top: 70px !important;
    padding: 50px 24px 0px 24px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .sectionsyn_cnt > p {
    max-width: 344px;
  }

  .sectionsyn_cnt img {
    width:100% ;
  }

  .sectioncusrightbody h2{
    max-width: 250px;
  }

}

@media screen and (max-width: 320px) {
  .testimoni1 {
    width: 250px;
  }

  .testimoni2 {
    width: 230px;
  }
}